{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


<main class="flex justify-center items-center sm:justify-start md:justify-center min-h-screen w-full">
  <div class="px-4 pt-6 w-full">
    <div class="grid gap-4 w-full">
      
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 w-full max-w-screen-lg mx-auto">
        
        <!-- 제목 -->
        <h2 class="text-lg font-bold text-gray-700 dark:text-gray-300 mb-4">F1 Playes In 2024</h2>

        <!-- 10개의 버튼 -->
        <div class="flex flex-wrap gap-2 justify-center mb-4">
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuQ')">
            막스 베르스타펜
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuS')">
            세르히오 페레즈
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuV')">
            조지 러셀
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGua')">
            루이스 해밀턴
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuW')">
            오스카 피아스트리
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuc')">
            랜도 노리스
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGud')">
            샤르 르클레르
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuf')">
            카를로스 사인츠
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGug')">
            올리버 베어먼
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuh')">
            랜스 스트롤
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuk')">
            페르난도 알론소
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGum')">
            에스테반 오콘
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuo')">
            피에르 가슬리
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuu')">
            알렉스 알본
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGus')">
            로건 사전트
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuw')">
            프랑코 콜라핀토
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGuz')">
            다니엘 리카도
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGu$')">
            츠노다 유키
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGv2')">
            리암 로슨
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGv3')">
            발테리 보타스
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGv4')">
            저우관위
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGv5')">
            케빈 마그누센
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGv6')">
            니코 휠켄베르크
          </button>
        </div>

        <!-- iframe 컨테이너 -->
        <div id="wikipedia-container" 
             class="mt-4 space-y-4 overflow-hidden bg-gray-50 dark:bg-gray-900 p-4 rounded-lg w-full">
          <iframe 
            id="dynamic-iframe"
            src="" 
            width="100%"
            height="700px"
            class="hidden"
            style="border:none; display: block;">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block extra_js %}


<script>
  function updateIframe(url) {
    const iframe = document.getElementById('dynamic-iframe');
    iframe.src = url;
  }
</script>







{% endblock extra_js %}