{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


<main class="flex justify-center items-center sm:justify-start md:justify-center min-h-screen w-full">
  <div class="px-4 pt-6 w-full">
    <div class="grid gap-4 w-full">
      
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 w-full max-w-screen-lg mx-auto">
        
        <!-- 제목 -->
        <h2 class="text-lg font-bold text-gray-700 dark:text-gray-300 mb-4">F1 Circuits</h2>

        <!-- 10개의 버튼 -->
        <div class="flex flex-wrap gap-2 justify-center mb-4">
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGiX')">
            Red Bull
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGiU')">
            McLaren
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGic')">
            Ferrari
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGiZ')">
            Mercedes-Benz
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGiv')">
            Haas
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGiq')">
            RB
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGig')">
            Alphine
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGig')">
            Aston Martin
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGis')">
            Kick-Jauber
          </button>
          <button 
            class="px-4 py-2 bg-gray-300 text-black text-sm font-medium rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" 
            onclick="updateIframe('https://w.wiki/CGin')">
            Williams
          </button>
        </div>

        <!-- iframe 컨테이너 -->
        <div id="wikipedia-container" 
             class="mt-4 space-y-4 overflow-hidden bg-gray-50 dark:bg-gray-900 p-4 rounded-lg w-full">
          <iframe 
            id="dynamic-iframe"
            src="https://w.wiki/CGiX" 
            width="100%"
            height="700px"
            style="border:none; display: block;">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block extra_js %}


<script>
  function updateIframe(url) {
    const iframe = document.getElementById('dynamic-iframe');
    iframe.src = url;
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.15.349/pdf.min.js"></script>
<script>
  const pdfUrl = "{% static 'dist/img/f1Ruls.pdf' %}";
  const container = document.getElementById('pdf-container');

  const renderAllPages = (pdf) => {
    const totalPages = pdf.numPages;

    for (let pageNum = 1; pageNum <= totalPages; pageNum++) {
      pdf.getPage(pageNum).then(page => {
        const canvas = document.createElement('canvas');
        canvas.classList.add('w-full', 'border', 'rounded', 'shadow-sm', 'dark:border-gray-700', 'bg-white');
        
        const viewport = page.getViewport({ scale: 1.5 });
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        const ctx = canvas.getContext('2d');
        const renderContext = { canvasContext: ctx, viewport: viewport };
        page.render(renderContext);
        container.appendChild(canvas);
      });
    }
  };

  pdfjsLib.getDocument(pdfUrl).promise.then(pdf => {
    renderAllPages(pdf);
  }).catch(error => {
    console.error("Error loading PDF: ", error);
  });
</script>


<script>

  // Pull data from the backend
  const products = JSON.parse('{{ products | safe }}');

  function getProductsBarChart(data) {
    return {
      colors: ['#1A56DB', '#FDBA8C'],
      series: [{
        name: 'Product',
        color: '#1A56DB',
        data: data.map(product => ({ x: product.fields.name, y: product.fields.price }))
      }],
      chart: {
        type: 'bar',
        height: '420px',
        fontFamily: 'Inter, sans-serif',
        foreColor: '#4B5563',
        toolbar: {
          show: false
        }
      },
      plotOptions: {
        bar: {
          columnWidth: '90%',
          borderRadius: 3
        }
      },
      tooltip: {
        shared: true,
        intersect: false,
        style: {
          fontSize: '14px',
          fontFamily: 'Inter, sans-serif'
        },
      },
      states: {
        hover: {
          filter: {
            type: 'darken',
            value: 1
          }
        }
      },
      stroke: {
        show: true,
        width: 5,
        colors: ['transparent']
      },
      grid: {
        show: false
      },
      dataLabels: {
        enabled: false
      },
      legend: {
        show: false
      },
      xaxis: {
        floating: false,
        labels: {
          show: false
        },
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
      },
      yaxis: {
        show: false
      },
      fill: {
        opacity: 1
      }
    };
  }

  const getProductsPieChart = (data) => {
    let trafficChannelsChartColors = {};
    if (document.documentElement.classList.contains('dark')) {
      trafficChannelsChartColors = {
        strokeColor: '#1f2937'
      };
    } else {
      trafficChannelsChartColors = {
        strokeColor: '#ffffff'
      };
    }

    return {
      series: data.map(product => product.fields.price),
      labels: data.map(product => product.fields.name),
      colors: ['#16BDCA', '#FDBA8C', '#1A56DB'],
      chart: {
        type: 'donut',
        height: 400,
        fontFamily: 'Inter, sans-serif',
        toolbar: {
          show: false
        },
      },
      responsive: [{
        breakpoint: 430,
        options: {
          chart: {
            height: 300
          }
        }
      }],
      stroke: {
        colors: [trafficChannelsChartColors.strokeColor]
      },
      states: {
        hover: {
          filter: {
            type: 'darken',
            value: 0.9
          }
        }
      },
      tooltip: {
        shared: true,
        followCursor: false,
        fillSeriesColor: false,
        inverseOrder: true,
        style: {
          fontSize: '14px',
          fontFamily: 'Inter, sans-serif'
        },
        x: {
          show: true,
          formatter: function (_, { seriesIndex, w }) {
            const label = w.config.labels[seriesIndex];
            return label;
          }
        },
        y: {
          formatter: function (value) {
            return value;
          }
        }
      },
      grid: {
        show: false
      },
      dataLabels: {
        enabled: false
      },
      legend: {
        show: false
      },
    };
  };

</script>


{% endblock extra_js %}